main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-bottom: 30px;
}

.board-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.board-block {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #d3d6da;
  width: 60px;
  height: 60px;
}

@keyframes wrongShakeAnimation {
  0%, 100% { transform: translateX(0); background-color: #FF4C4C;}
  25% { transform: translateX(-5px); background-color: #FF4C4C;}
  50% { transform: translateX(5px); background-color: #FF4C4C;}
  75% { transform: translateX(-5px); background-color: #FF4C4C;}
}

.wrong-shake {
  animation: wrongShakeAnimation 0.5s ease-in-out;
}

@keyframes rightShakeAnimation {
  0%, 100% { transform: translateX(0); background-color: #4cff73;}
  25% { transform: translateX(-5px); background-color: #4cff73;}
  50% { transform: translateX(5px); background-color: #4cff73;}
  75% { transform: translateX(-5px); background-color: #4cff73;}
}

.right-shake {
  animation: rightShakeAnimation 0.5s ease-in-out;
}
